{% extends "users/base.html" %}

{% block body %}
    {% if message %}
        <div>
            {{ message }}
        </div>
    {% endif %}
    
    <form action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        <input name="username_register" type="text" placeholder="username"/>
        <input name="email_register" type="text" placeholder="email"/>
        <input name="password_register" type="password" placeholder="password"/>
        <input type="submit" value="Register"/>
    </form>
{% endblock %}
